.footer {
    width: 915px;
    display: flex;
    flex-direction: column;

    
    @include breakpoint(870) {
        overflow-x: scroll;
    }

    &-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;

        padding-bottom: 40px;
        margin: 40px 15px 0
    }

    &__top {
        height: 20px;
        display: flex;
        justify-content: space-between;

        img:nth-of-type(odd),
        img:nth-of-type(even) {
            margin-right: 15px;
        }

        margin-bottom: 13px;
    }

    &__bottom {
        width: 75%;
        height: 20px;

        display: flex;
        justify-content: space-evenly;
        align-self: center;

        img:nth-of-type(odd),
        img:nth-of-type(even) {
            margin-right: 15px;
        }

        @include breakpoint(860) {
            justify-content: flex-start;
        }
    }
}