.footer {
    max-width: 915px;
    display: flex;
    flex-direction: column;

    &-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;

        overflow-x: scroll;

        padding-bottom: 40px;
    }

    &__top {
        height: 20px;
        display: flex;
        justify-content: space-between;

        img:nth-of-type(odd),
        img:nth-of-type(even) {
            margin-right: 10px;
        }

        margin-bottom: 13px;
    }

    &__bottom {
        width: 78%;
        height: 20px;

        display: flex;
        justify-content: space-evenly;
        align-self: center;

        img:nth-of-type(odd),
        img:nth-of-type(even) {
            margin-right: 10px;
        }
    }

   
}