.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 3;

    font-family: "Changa", serif;

    color: rgb(255, 194, 72);

     p:nth-of-type(1) {
         margin-bottom: 55px;
     }

     a:nth-of-type(1) {
        margin-top: 60px;
     }

    &-wrapper {
        max-width: 440px;
        display: flex;
        justify-content: center;
        align-self: center;

        position: relative;

        margin-left: 100px;

        &::after {
            content: "";
            position: absolute;
            width: 80vh;
            height: 100vh;
            background-image: url(/static/media/opacity.f49c68da.png);
            background-repeat: no-repeat;
            bottom: -75%;
        }

        @include breakpoint(600) {
            margin-left: 40px;
        }

        @include breakpoint(400) {
            margin-left: 20px;
        }
    }

    @include breakpoint(400) {
        .wrapper {
            width: 300px;
        }
    }
}