.main {
    margin-bottom: 120px;
    padding: 0 30px;

    font-family: "Changa", serif;
    text-align: left;

    color: #120902;

     p:nth-of-type(1) {
         margin-bottom: 70px;
     }

     p:nth-of-type(2) {
         margin-bottom: 24px;
     }

    a:nth-of-type(1) {
       margin-top: 100px;
       margin-bottom: 100px;
    }

    &-wrapper {
        display: flex;
        align-self: center;

        max-width: 435px;
        height: 390px;

        margin-left: 100px;

        @include breakpoint(1000) {
            margin-left: 0;
        }
    }

    @include breakpoint(720) {
        .wrapper {
            width: 380px;
        }

        margin-bottom: 0;
    }

    @include breakpoint(720) {
        .wrapper {
            width: 300px;
        }
    }
}